@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;500;700&family=Montserrat:wght@300;500;700&display=swap");

:root {
    --black: #181719;
    --white: #ffffff;
    --gray: #828282;
    --crimson: 'Crimson Pro', serif;
    --lora: 'Lora', serif;
    --montserrat: 'Montserrat', sans-serif;
}

* {
    background-color: var(--black);
    color: var(--white);
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    columns: 2;
    align-items: center;
    padding: 10px 4.3rem;
}

nav a.logotipo {
    text-align: left;
    padding: 8px;
    border: 1px solid var(--white);
    font-family: var(--crimson);
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

nav ul a.active {
    font-weight: 700;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--white);
}

nav ul li {
    list-style: none;
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

nav ul li:not(nav ul li:last-child) {
    margin-right: 15%;
}

.section__main {
    display: flex;
    columns: 2;
    padding: 10% 4.3rem 20%;
}

.section__main .text-left {
    width: 43%;
    padding-top: 6.5%;
}

.section__main .text-left h1 {
    font-family: var(--lora);
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
}

.section__main .text-left p {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    padding-right: 23%;
    padding-bottom: 4.5%;
}

.section__main .text-left a {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.section__main .text-left a img {
    padding-left: 10px;
}

.image-right {
    background: url('../images/photo1.jpg'), no-repeat;
    width: 737px;
    height: 555px;
    object-fit: cover;
    position: relative;
}

.image-right .target {
    position: absolute;
    background-color: var(--black);
    width: 350px;
    padding: 18px 26px 34px;
    bottom: -27%;
    right: 4%;
}

.image-right .target .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.image-right .target .profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.image-right .target .profile .information-profile .name {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-block-end: 0;
}

.image-right .target .profile .information-profile .position {
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--gray);
    margin-block-start: .5em;
}

.image-right .target .legend {
    font-family: var(--lora);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.footer{
    display: flex;
}

.footer a{
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--gray);
    margin: auto;
}

@media screen and (max-width: 989px) {
    .section__main {
        padding: 10% 15px 20%;
    }

    .image-right {
        width: 537px;
        height: 555px;
    }
    
    .legend .legend-space{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    
}